<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Page</title>

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- my script -->
    <script src="/scripts/script.js"></script>

    <!-- {{!-- BOOTSTRAP --}} -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- font awesome v5 toolkit script -->
    <script src="https://kit.fontawesome.com/e00a1e7cf5.js"></script>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <style>
        body {
            background-color: #1E1E1E;
        }

        .main {
            height: 100vh;
            background-color: #FFFFFF;
        }
    </style>
</head>

<body>

    <div class="container main">

        <h1 style="text-align: center;">Innovacer Assignment</h1>
        <h3 style="text-align: center;">SDE-Intern Assignment</h3>
        <h4 style="text-align: center;"> Entry Management Software</h4>

        <form action="/checkIn" method="POST" class="mt-3 ">

            <div class="form-row">
                <div class="form-group col-md-8">
                    <input name="email" id="email" type="email" class="form-control" placeholder="Email"
                        required="true">
                </div>
                <div class="form-group col-md-4">
                    <input class="form-control" name="key" id="key" type="text" placeholder="Key" required="true">
                    <small id="keylHelp" class="ml-1 form-text text-muted">This key will be rquired to Check Out of the
                        system.</small>
                </div>
            </div>

            <div class="p-2 d-flex justify-content-center">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-outline-success" value="Check In">Check In</button>
                    <button type="submit" class="btn btn-outline-dark" formaction="/checkOut" value="Check Out">Check
                        Out</button>
                </div>

            </div>

            {{!-- <input type="submit" value="Check In">&nbsp;
            <input type="submit" formaction="/checkOut" value="Check Out"> --}}
        </form>

    </div>
</body>

</html>