<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bifrost Home</title>

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- my script -->
    <script src="/scripts/script.js"></script>

    <!-- {{!-- BOOTSTRAP --}} -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- font awesome v5 toolkit script -->
    <script src="https://kit.fontawesome.com/e00a1e7cf5.js"></script>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <style>
        body {
            background-color: #1E1E1E;
        }

        .main {
            height: 100vh;
        }
    </style>
</head>

<body>

    <div class="container main">

        {{!-- <div class="logo"></div> --}}
        <h3 style="text-align: center;">Bifrost</h3>
        <hr style="border: 1px solid yellow;">
        <h5 style="text-align: center;">Connecting Clients and Hosts conveniently.</h5>

        <a href="/host">
            <button type="button" class="btn btn-outline-light">Host a Meeting.</button>
        </a>
        <a href="/visitor">
            <button type="button" class="btn btn-outline-light">Attend a Meeting</button>
        </a>
    </div>
</body>

</html>