<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bifrost Home</title>

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- my script -->
    <script src="/scripts/script.js"></script>

    <!-- {{!-- BOOTSTRAP --}} -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- font awesome v5 toolkit script -->
    <script src="https://kit.fontawesome.com/e00a1e7cf5.js"></script>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <style>
        body {
            background-color: #1E1E1E;
            color: aliceblue;
        }

        .main {
            height: 100vh;
        }
    </style>
</head>

<body>

    <div class="container main d-flex flex-column justify-content-center">

        <i class="text-center far fa-snowflake mb-4" style="font-size: 4rem;"></i>

        <h3 class=" text-center" style="letter-spacing: 0.2rem;">Bifröst</h3>
        <div>
            <hr style="border-top: 2px solid yellow; width: 20vw;">
        </div>
        <p style="text-align: center;font-size: 0.9rem">Connecting Clients and Hosts conveniently.</p>

        <div class="d-flex justify-content-center">
            <a href="/host" class="m-3">
                <button type="button" class="btn btn-outline-light">Host a Meeting</button>
            </a>
            <a href="/visitor" class="m-3">
                <button type="button" class="btn btn-outline-info">Attend a Meeting</button>
            </a>
        </div>

    </div>
</body>

</html>