<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Result</title>

    <!-- {{!-- BOOTSTRAP --}} -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        body {
            background-color: #1E1E1E;
        }

        .main {
            height: 100vh;

        }
    </style>

</head>

<body>

    <div class="container main pt-3">

        {{#if success}}
        <div class="alert alert-success">
            {{content}}
        </div>
        {{/if}}

        {{#if failure}}
        <div class="alert alert-danger">
            {{content}}
        </div>
        {{/if}}

        <a href="/">
            <button type="button" class="btn btn-outline-light">Go Back</button>
        </a>

    </div>

</body>

</html>